Makefile
.qmake.stash
*.o
*.so.*
*.so
*.a
*~
*.orig
*.rej
# old skool
.svn
*.pri
*.prl
*.swp
*.user

# osx noise
.DS_Store
profile

# qmake Xcode generator side-effects
*.xcodeproj
xcshareddata/
*.xcworkspace
*.pbxproj
*.mak
*.build/

moc_*
moc/
obj/
lib/
bin/
plugins/
resources/
src/debug/
src/release/

qwt/src/debug/
qwt/src/release/
src/Makefile.Debug
src/Makefile.Release
src/object_script.GoldenCheetah.Debug
src/object_script.GoldenCheetah.Release
qwt/src/object_script.libqwt.Release
qwt/src/object_script.libqwtd.Debug
qwt/src/Makefile.Release
qwt/src/Makefile.Debug
qwt/textengines/mathml/debug/
qwt/textengines/mathml/release/
build.pro.user

# libusb-compat
libusb-compat/Makefile.in
libusb-compat/Makefile.phony
libusb-compat/aclocal.m4
libusb-compat/autom4te.cache/
libusb-compat/compile
libusb-compat/config.guess
libusb-compat/config.h
libusb-compat/config.h.in
libusb-compat/config.log
libusb-compat/config.status
libusb-compat/config.sub
libusb-compat/configure
libusb-compat/depcomp
libusb-compat/examples/.deps/
libusb-compat/examples/.libs/
libusb-compat/examples/Makefile.in
libusb-compat/examples/lsusb
libusb-compat/examples/testlibusb
libusb-compat/install-sh
libusb-compat/libtool
libusb-compat/libusb-config
libusb-compat/libusb.pc
libusb-compat/libusb/.deps/
libusb-compat/libusb/.libs/
libusb-compat/libusb/Makefile.in
libusb-compat/libusb/libusb.la
libusb-compat/libusb/libusb_la-core.lo
libusb-compat/ltmain.sh
libusb-compat/m4/
libusb-compat/missing
libusb-compat/stamp-h1
