[Desktop Entry]
  Name=GoldenCheetah
  Comment=Built for suffering
  Icon=/usr/share/pixmaps/openbox.xpm
  Exec=/home/pi/src/GoldenCheetah/src/GoldenCheetah
  Type=Application
  Encoding=UTF-8
  Terminal=false
  StartUpNotify=true
  Categories=None;
